<div class="container" id="i18_about_me">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="about_me.about_me">Publications And Papers</span></h1>
            <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p> -->
        </div>
    </div>
    <div class="row">
		<div class="team-member">
			<a href="https://www.scientific.net/MSF.924.527" target="_blank"><span class="navy">Automated Mapping of Micropipes in SiC Wafers Using Polarized-Light Microscope</span></a>
		</div>
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
            <p><span data-i18n="about_me.des">I have authored a paper which has been published in the journal for Silicon Carbide and Related Materials 2017. I have also presented a poster on these findings at the International Conference on Silicon Carbide and Related Materials in Washington DC.</span></p>
        </div>
    </div>
	<div class="row">
		<div class="team-member">
			<a href="/SeanMcGuire/static/assets/img/automated-analysis-clock.pdf"><span class="navy">Automated Analysis of the Clock Drawing Test for Differential Diagnosis of Mild Cognitive Impairment and Alzheimer's Disease</span></a>
		</div>
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
            <p><span data-i18n="about_me.des">Variants of this paper have been submitted to the "Journal of the International Neuropsychological Society" and "Alzheimer's & Dementia". This paper uses clock drawing data collected from over 100 patients. Each clock contains over 200 different features. Our research included using Information Theoretic, Embedded, and Wrapper based features selection algorithms to select the best features from the set. These features were then applied to different classifiers to record the classification accuracy. When trying to distinguish between different classes of Mild Cognitive Impairment (MCI) and Alzheimer's the classifiers achieved accuracies above 85%. One application of these findings is that a physician can yearly administer the simple 2 minute clock drawing test, and based on the results, can recommend a patient for further screening.</span></p>
        </div>
    </div>
	<div class="row">
		<div class="team-member">
			<a href="/SeanMcGuire/static/assets/img/dota-2-game.pdf"><span class="navy">Prediction of Dota 2 Matches Using Deep Learning</span></a>
		</div>
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
            <p><span data-i18n="about_me.des">This is my term paper for the deep learning and data mining class at Rowan University. Dota 2 is an online game with a very complex state space making it very difficult to predict the outcome of matches. This paper covers the process of collecting over 800,000 games from the Dota 2 API and designing a neural network to predict the winner. The neural network was designed to take the 5 heroes picked on each team and the game duration as inputs and try to predict the winner based only on this information. The network achieved an accuracy of 80%.</span></p>
        </div>
    </div>
	<div class="row">
		<div class="team-member">
			<a href="/SeanMcGuire/static/assets/img/building-recognition-convolutional.pdf"><span class="navy">Convolutional Neural Network for Building Recognition</span></a>
		</div>
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
            <p><span data-i18n="about_me.des">This is my term paper for the introduction to machine learning engineering clinic at Rowan University. For this project I have taken over 100 different images covering 7 different buildings on campus. I have constructed and trained a convolutional neural network (CNN) to classify these images. This network achieved a classification accuracy of 89.2%.</span></p>
        </div>
    </div>
		<div class="row">
		<div class="team-member">
			<a href="/SeanMcGuire/static/assets/img/Processor_Doc.pdf"><span class="navy">16 bit Computer Architecture Processor</span></a>
		</div>
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
            <p><span data-i18n="about_me.des">This is my term paper for the computer architecture class at Rowan University. For this project my team and I have constructed a 16 bit Harvard architecture processor. The linked document covers the design and testing of this processor in extensive detail.</span></p>
        </div>
    </div>
</div>
